/* Background geral */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #36d1dc, #5b86e5); /* Gradiente de fundo */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
 
  .login-box {
    background-color: white;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra */
    text-align: center;
  }
 
  .login-box h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
  }
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
 
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
 
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
 
  .input-group input:focus {
    border-color: #5b86e5;
    outline: none;
  }
 
  button {
    width: 100%;
    padding: 12px;
    background-color: #36d1dc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #5b86e5;
  }
 
  p {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
  }
 
  .signup-link {
    color: #5b86e5;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
  }
 
  .signup-link:hover {
    text-decoration: underline;
  } 
